* {
    box-sizing: border-box;
}

body {
    background-color:rgb(176, 189, 189);
    padding: 20px;
    width: 600px;
    margin: 16px auto;
}

.container {
    width: 400px;
    margin: 16px auto;
}

.title {
    font-family:'Courier New', Courier, monospace;
    color:rgb(64, 138, 202);
    padding: 8px;
}

.subtitle {
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin: 8px;
}

p {
    font-family:'Courier New', Courier, monospace;
    color:rgb(88, 88, 104);
    padding: 8px;
}

li{
    font-family:'Courier New', Courier, monospace;
    color:rgb(88, 88, 104);
    padding: 3px;
}
.dot {
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin: 5px;
    padding: 5px;
}

.anchor {
    color: white;
}

.anchor:hover {
    color: black;
}

img {
    margin: 16px auto;
    width: auto;
}

